.App {
  text-align: center;
}

.resolving-credit-facility,
.business-loan {
  background-color: #eee;
  display: inline-block;
  font-size: .8rem;
  padding: 1rem;
  margin: .5rem;
  max-width: 49%;
}

tr:nth-child(even) {
  background-color: #ccc;
}

th, td {
  padding: 0 .8rem;
}
